{%  extends 'base.html' %}
{% block scripts %}

        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}
        {{ moment.lang('ko') }}

{% endblock scripts %}
{%-  block content %}
{#    wellcome !!!#}
{#{{ users }}#}

{#    {% for user in users %}#}
{#    {{ user.email }} {{ user.username }} <br>#}
{#    {% endfor%}#}


{#    {{ moon }}#}


{#    {%  for i in moon %}#}
{#        {{ i[0] }} /{{ i[1] }} <br> {#  expression #}
{#    {% endfor %}  {# statement #}


{##}
{#    <table class="table table-striped">#}
{#    <thead>#}
{#        <th>이름</th>#}
{#        <th>이메일</th>#}
{#    </thead>#}
{#    <tbody>#}
{#        {%- for i in moon %}#}
{#    <tr>#}
{#        <td>{{ i.username }}</td>#}
{#        <td>{{ i.email }}</td>#}
{#    </tr>#}
{#    {%- endfor %}#}
{#    </tbody>#}
{#    </table>#}



{# {{  moon['a'] }}#}

    ddd


{%  endblock content -%}
