<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">My home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Report
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('graph') }}">report</a>
            <a class="dropdown-item" href="report2.html">report2</a>
            <a class="dropdown-item" href="report3.html">report3</a>
            <a class="dropdown-item" href="report4.html">report4</a>
            <a class="dropdown-item" href="report5.html">report5</a>
            <a class="dropdown-item" href="report6.html">report6</a>
            <a class="dropdown-item" href="report7.html">report7</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
          {% if current_user.is_authenticated %}
                <a class="nav-link disabled" href="/logout">로그아웃</a>
          {%  else  %}
                <a class="nav-link disabled" href="/login">로그인</a>
          {% endif %}
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="post" action="/search">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
    </form>
  </div>
</nav>