{% extends 'base.html' %}
{% block scripts %}
<!-- Custom stylesheet, it must be in the same directory as the html file -->

<!-- Loading mathjax macro -->
<!-- Load mathjax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"></script>
    <!-- MathJax configuration -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
            processEnvironments: true
        },
        // Center justify equations in code and markdown cells. Elsewhere
        // we use CSS to left justify single line equations in code cells.
        displayAlign: 'center',
        "HTML-CSS": {
            styles: {'.MathJax_Display': {"margin": 0}},
            linebreaks: { automatic: true }
        }
    });

        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}
        {{ moment.lang('ko') }}

{% endblock scripts %}


{%  block styles %}
<link rel="stylesheet" href="/static/css/report_css.css">
{% endblock styles %}

{%  block content %}
  {{ moment(dt).calendar()}}
<i class="fab fa-accusoft"></i>
  <div tabindex="-1" id="notebook" class="border-box-sizing">
    <div class="container" id="notebook-container">

<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h1 id="&#48176;&#50864;&#44256;-&#49910;&#51008;-&#44163;">&#48176;&#50864;&#44256; &#49910;&#51008; &#44163;<a class="anchor-link" href="#&#48176;&#50864;&#44256;-&#49910;&#51008;-&#44163;">&#182;</a></h1><ul>
<li>하둡 &amp; spark<ol>
<li>전반적 개념</li>
<li>활용, 처리 능력</li>
</ol>
</li>
</ul>
<ul>
<li>지능형 시스템<ol>
<li>RNN 또는 CNN 적용 사례 </li>
<li>빅데이터와 지능형의 앙상블</li>
<li>텍스트 마이닝</li>
</ol>
</li>
</ul>
<ul>
<li>matplotlib <ol>
<li>그래프 시각화 능력</li>
<li>수치 분석</li>
</ol>
</li>
</ul>
<h1 id="&#44288;&#49900;-&#54532;&#47196;&#51229;&#53944;--`">&#44288;&#49900; &#54532;&#47196;&#51229;&#53944;  `<a class="anchor-link" href="#&#44288;&#49900;-&#54532;&#47196;&#51229;&#53944;--`">&#182;</a></h1><ul>
<li>수요 예측(투자)<ol>
<li>고객 성향(니즈) 파악 </li>
<li>판매 실 금액 예측 </li>
</ol>
</li>
</ul>
<ul>
<li>사용자 맞춤 추천(문화) <ol>
<li>영화 추천</li>
<li>고객 상품 추천</li>
</ol>
</li>
</ul>

</div>
</div>
</div>
    </div>
  </div>

{%  endblock content %}
